







.auditsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}.audit {
    background-color: #1E2026;
    padding: 20px;
    border-radius: 15px;

    border: 0;

    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;
}.auditOutcome  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.errorTag{
    color: red;

}.suggestionTag {
    color: green;
}






/* 
    <div>

        <div className="audit">


            <div className="topBar">
                <p className="auditName">{props.name}</p>
                <p className="auditData">{props.date}</p>
            </div>

            <div className="auditSelection">

                <div className="info">
                    <p className="errors">3</p>
                </div>

            </div>


            <div className="auditOutcome">

                <div className="outcome">
                    <div className="error">Error: In this example, there's a missing semicolon after uint256 public myNumber, 
                        which will result in a compilation error.</div>

                    <div className="suggestion">Suggestion: Add a semicolon at the end of the line to fix the syntax error</div>
                </div>

                <div className="outcome">
                    <div className="error">Error: The if statement lacks curly braces, causing only the next line to be 
                        conditionally executed.</div>

                    <div className="suggestion">Suggestion: Add curly braces to enclose the block of code to be executed</div>
                </div>

                <div className="outcome">
                    <div className="error">Error: Missing semi colong on line 76</div>
                    <div className="suggestion">Suggestion: Add semi colon on line 76</div>
                </div>

            </div>

        </div>

            
        </div> */